// Define variables for your color scheme

// For example:
$red: #FF2079;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #04005E;
$light-gray: #F4F4F0;
$pink: #F92EFB;
$purple: #440BD4;
$white: #f9f9f9;
