<div class="container">
<h1>list of cocktails</h1>
  <div class="cocktail-cards">
    <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card">
      <div class="cocktail-card-body">
        <div class="cocktail-card-title">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
        <div class="cocktail-card-ingredients">
          <p><i class="fas fa-flask"></i>
            <% ingredients = cocktail.ingredients.first(3).map(&:name) %>
              <%= ingredients.join(', ') %>
            <% if cocktail.ingredients.count > 3 %>
              & <%= cocktail.ingredients.count - 3 %> others
            <% elsif cocktail.ingredients.count == 0 %>
               There don't seem to be any doses added yet...
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
