<div class="container">
<h1>Cocktails</h1>
  <div class="cocktail-cards mt-4">
    <% @cocktails.each do |cocktail| %>
      <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail_background(cocktail)%>)">
        <div class="cocktail-card-title">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
        <div class="cocktail-card-ingredients">
          <p><i class="fas fa-flask"></i>
            <% ingredients = cocktail.ingredients.first(2).map(&:name) %>
              <span><%= ingredients.join(', ') %></span>
            <% if cocktail.ingredients.count > 2 %>
              & <%= cocktail.ingredients.count - 2 %> others
            <% elsif cocktail.ingredients.count == 0 %>
               No doses added yet...
            <% end %>
          </p>
        </div>
    </div>
  <% end %>
  </div>
</div>
