<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
 <%= link_to root_path do %>
    <i class="fas fa-glass-martini-alt"></i>
 <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="cocktail-btn shadow">
        <%= link_to "Browse", cocktails_path %>
        </div>
      </li>
      <li class="nav-item">
        <div class="cocktail-btn shadow">
          <%= link_to "New", new_cocktail_path %>
        </div>
      </li>
    </ul>
  </div>
</div>
