.cocktail-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  color: $white;
  margin: 0 auto;
  justify-items: center;
}

 p {
    font-family: 'Open Sans', sans-serif;
  }

.cocktail-container {
  margin: 0 auto;
  width: 90%;
}

.cocktail-card {
  background-color: transparent;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
  border: 4px solid $white;
  border-radius: 8px;
  height: 200px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;



  h5 {
    text-align: center;
  }

  a {
    color: $white;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Abril Fatface', cursive;

  }

  p {
    font-family: 'Open Sans', sans-serif;
  }
}

.cocktail-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  padding: 8px;
  margin-top: 8px;
  text-align:center;
  h1 {
    text-decoration: underline;
  }
  a {
    text-decoration: none !important;
  }
}

.cocktail-img {
  border-radius: 8px;
  width: 100%;
  height: 400px;
  margin-bottom: 16px;
  background-size: auto 183%;
}

.cocktail-description {
  color: $white;
  padding: 8px;

  p {
    font-style: italic;
  }
}

.cocktail-card-ingredients {
  padding: 8px 8px 0 8px;
  margin-left: 8px;
  margin-top: 16px;
  font-size: 1em;
  font-weight: lighter;
  font-style: italic;
  color: rgba(249, 249, 249,0.5);
  i {
    margin-right: 8px;
    color: rgba(230, 0, 115,0.7);
  }

  span {
    color: rgba(249, 249, 249,0.8);
  }
}

.cocktail-left {
  display: flex;
  flex-direction: column;
}

