.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-left: 16px;
  font-family: 'Abril Fatface', cursive;
  a {
    color: $white;
    transition: all 0.3s ease;
  }
  a:hover {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }


  a:hover {
     text-decoration: none;
     color: none !important;
  }

}
