.cocktail-table {
  padding: 16px;
  border-collapse: separate;


}

table {
  width: 300px;
}

thead {
  th {
    font-size: 1.2em;
  }
}

tbody {
   th {
    font-size: 0.8em;
    font-weight: lighter;
  }
}

.cocktail-table-container {
  background-color: $purple;
  border-radius: 16px;
  padding: 16px;
}


.cocktail-dose-form {
  margin-top: 8px;
}
