// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'select2/dist/css/select2';


// Your CSS partials
@import "components/index";
@import "pages/index";

@import "cocktails";

body {
  color: $white;
}

a {
    color: $white;
    transition: all 0.3s ease;
  }

a:hover {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
